@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
}

body {
	background: #C9E6FF;
}

#_leftColumn {
    /*background-color: #00ff00; /* DEBUG */

    height: 100%;
    width: 700px;
    float: left;
}

#_graph {
    /*background-color: #ffff00; /* DEBUG */

	height: 480px;
    width: 640px;

    background-color : #ffffff;
    padding: 10px 10px 0px 5px;
    border-style: ridge;    
    border-color: lightgray;
    border-width: 4px;
}

#_legend {
	/*background-color: #ff0000; /* DEBUG */

    height: 100%;
}
