@CHARSET "UTF-8";

html {
  font: 10pt sans-serif;
  background-color: #f0f0f0;
}

div.login {
  background-color: #e0e0f0;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  padding: 10px;

  -moz-box-shadow:     0px 0px 15px 0 #555;
  -webkit-box-shadow:  0px 0px 15px 0 #555;
  -goog-ms-box-shadow: 0px 0px 15px 0 #555;
  box-shadow:          0px 0px 15px 0 #555;

  border : 1px solid #c0c0c0; 
  border-radius: 10px;
}

div.login th {
	text-align: left;
}
