/* minimal set of permissions required to setup the security system and do the authentication */

grant {
   permission java.util.PropertyPermission       "*", "read,write";
   permission java.io.FilePermission             "security.properties", "read";

   permission javax.security.auth.AuthPermission "createLoginContext.LDAPWLSLogin";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
};

grant Principal com.sun.security.auth.UserPrincipal "staff" {
   permission java.lang.RuntimePermission "executeAllowedAction";
};
