.root {
   -fx-background-image: url(background2.png);
}

/* Blue */
/*
.seven-segment {
   -fx-on-color: #1B1C5D;
   -fx-off-color: #4E6BDB;
   -fx-background-color: #5472EA;
}
*/

/* Green */
/*
.seven-segment {
   -fx-on-color: #27FD01;
   -fx-off-color: #383634;
   -fx-background-color: #1F1E23;
}
*/
/* Red */
/*
.seven-segment {
   -fx-on-color: #FF0A29;
   -fx-off-color: #383634;
   -fx-background-color: #1F1E23;
}
*/

/* Red with red filter */
/*
.seven-segment {
   -fx-on-color: #B5191B;
   -fx-off-color: #352524;
   -fx-background-color: #211716;
}
*/

/* LC style */
/*
.seven-segment {
   -fx-on-color: #25312D;
   -fx-off-color: #64706C;
   -fx-background-color: #6C7874;
}
*/
#current {
   -fx-on-color: #FF0A29;
   -fx-off-color: #383634;
   -fx-background-color: #1F1E23;
}

#voltage {
   -fx-on-color: #27FD01;
   -fx-off-color: #383634;
   -fx-background-color: #1F1E23;
}
