

/* the searchMarker is used to define the style for highlighting found text */
searchMarker {
	background-color: #800000;
	color: white;
}


title[level="1"] {
	margin-top: 18px;
	margin-bottom: 5px;
	font-family: "Arial";
	font-size: 18pt;
}

title[level="2"] {
	margin-top: 14px;
	margin-bottom: 3px;
	font-family: "Arial";
	font-size: 16pt;
}

title[level="3"] {
	margin-top: 10px;
	margin-bottom: 3px;
	font-family: "Arial";
	font-size: 14pt;
}

para {
	font-family: "Sans";
	font-size: 10pt;
}

tip {
	margin-left: 20px;
	background-color: #e4e4e4;
	color: #000000;
	font-family: "Sans";
	font-size: 10pt;
	font-style: italic;
}

programlisting[language="java"] {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #0000ff;

	color: yellow;
	font-family: "Courier";
	font-size: 10pt;
	font-weight: bold;
}

programlisting[language="cpp"] {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #f0f0f0;

	color: black;
	font-family: "Courier";
	font-size: 10pt;
	font-weight: bold;
}

programlisting[language="xml"] {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #f0f0f0;

	color: #800000;
	font-family: "Courier";
	font-size: 10pt;
}

programlisting[language="sql"] {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #f0f0f0;
	
	color: blue;
	font-family: "Courier";
	font-size: 10pt;
}

programlisting[language="python"] {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #f0f0f0;
	
	color: black;
	font-family: "Courier";
	font-size: 10pt;
}

programlisting[language="bash"] {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #000000;
	
	color: #ffff00;
	font-family: "Courier";
	font-size: 10pt;
}

screen {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #191919;

	color: #00ff00;
	font-family: "Courier";
	font-size: 10pt;
}


/******** List formats ********/
/* Indent is the number of "ul"/"ol" in the selector */

itemizedlist[level="1"] {
	list-style-type: disc;
}

itemizedlist[level="2"] {
	list-style-type: circle;
}

itemizedlist[level="3"] {
	list-style-type: square;
}

itemizedlist[level="4"] {
	list-style-type: square;
}

orderedlist[level="1"] {
	list-style-type: decimal;
}

orderedlist[level="2"] {
	list-style-type: decimal;
}

orderedlist[level="3"] {
	list-style-type: decimal;
}

orderedlist[level="4"] {
	list-style-type: decimal;
}


/******** Inline formats ********/

/* Note: They are based on the "p" block format - not sure if this is the right approach!
   Note that these are char formats only - especially the backgrund-color refers
   to the fragment's background color, not the block background color!
   Also, the fact that <keyword> and <a> are anchors needs to be reflected in the code. 
*/

emphasis[role="highlight"] {
	background-color: yellow;
}

emphasis {
	font-weight: bold;
}

code {
	background-color: #e8e8e8;
	color: green;
	font-family: "Courier";
}

link {
	color: blue;
	text-decoration: underline;
}

olink {
	background-color: #dcdcdc;
	color: blue;
	text-decoration: underline;
}
