// http://download.java.net/jdk8/docs/technotes/guides/security/PolicyFiles.html

grant codeBase "file:bin/-" {
  permission java.net.SocketPermission "*", "accept";
};
